{
    "printWidth": 120,
    "tabWidth": 2,
    "arrowParens": "always",
    "bracketSpacing": true,
    "endOfLine": "crlf",
    "semi": true,
    "singleQuote": true,
    "quoteProps": "consistent",
    "trailingComma": "es5"
}
